* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.box {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b37636;
}
.box .text {
    font-size: 20rem;
    letter-spacing: 5rem;
    position: relative;
    outline: none;
    color: #c3a788;
    text-transform: uppercase;
    height: 100%;
    line-height: 0.7em;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #c3a78870);
    animation: anim 3s linear infinite;
}

@keyframes anim {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%
    {
        color: #c3a788;
        text-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%
    {
        color: white;
        text-shadow: 0 0 10px #e6d5c4, 0 0 20px #e6d5c4, 0 0 40px #e6d5c4, 0 0 80px #e6d5c4, 0 0 160px #e6d5c4;
    }
}